.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  margin-top: 200px;
  width: 0px;
  height: 0px;
  border: 20px solid;
  border-color:#ff9600 transparent  transparent  transparent ;
  animation: myfrom .3s  infinite   ;
  animation-direction: normal;
  transform: all .1s;
}

@keyframes myfrom{
   25%{
    
    border-color:#ff9600 transparent  transparent  transparent ;
   }
   50%{
    border-color: transparent #ff9600 transparent  transparent ;
   }
   75%{
    border-color: transparent  transparent  #ff9600 transparent ;
   }
   100%{
    border-color: transparent  transparent  transparent #ff9600 ;
   }
}